body {
    padding: 45px 25%;
    line-height: 1.75;
}

.home-title {
    padding: 5% 0 1% 0;
}

.home-text {
    text-align: justify;
}

.home-text code {
    color: #f22f46;
    background-color: #f9f9f9;
    box-shadow: inset 0 0 0 1px #e8e8e8;
    padding: 0.15em 0.4em;
    border-radius: 4px;
}

.home-text a{
    text-decoration: none;
    color: #1277dc;
}

.hr {
    margin-top: 5%;
}